@model IEnumerable<Monsters>

<style>
    body {
        background-color: rgb(32,32,32);
        background-image: none;
    }
</style>

<div class="search-bar">
    

    @using (Html.BeginForm("SearchMonstersTraits", "Monsters", FormMethod.Get))
    {
        <p>
            Search Traits: @Html.TextBox("trait")
            <input type="submit" value="Search" />
        </p>
    }


    @using (Html.BeginForm("SearchMonstersMetaSize", "Monsters", FormMethod.Post))
    {
        <p>
            Size:
            <select name="size">
                <option value="--">Sizes</option>
                @foreach (var size in new List<string>
            {
            "Tiny", "Small", "Medium", "Large", "Huge", "Gargantuan"

            })
                {
                    <option value="@size">@size</option>
                }
            </select>
            <input type="submit" value="Sort" />
        </p>
    }
    @using (Html.BeginForm("SearchMonstersChallenge", "Monsters", FormMethod.Post))
    {
        <p>
            Challenge Level:
            <select name="challenge">
                <option value="--">Challenge</option>
                @foreach (var challenge in new List<string>
            {
            "0", "1/8", "1/4", "1/2", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30"

            })
                {
                    <option value="@challenge">@challenge</option>
                }
            </select>
            <input type="submit" value="Sort" />
        </p>
    }
</div>
<div class="search-bar">

    @using (Html.BeginForm("SearchMonstersLanguages", "Monsters", FormMethod.Post))
    {
        <p>
            Languages:
            <select name="language">
                <option value="--">Languages</option>
                @foreach (var language in new List<string>
            {
            "Abyssal", "Aquan", "Auran", "Blink Dog", "Celestial", "Common", "creator", "Deep Speech",
            "Draconic", "Elvish", "Giant", "Ignan", "Infernal", "Sphinx", "Telepathy", "Thieves", "Undercommon"
            
            })
                {
                    <option value="@language">@language</option>
                }
            </select>
            <input type="submit" value="Sort" />
        </p>
    }
    @using (Html.BeginForm("SearchMonstersActions", "Monsters", FormMethod.Post))
    {
        <p>
            Action:
            <select name="action">
                <option value="--">Actions</option>
                @foreach (var action in new List<string>
            {
            "Beak", "Bite", "Claw", "Club", "Corrupting Touch", "Crush", "Dagger", "Enlarge", "Fist", "Gore",
            "Greataxe", "Greatclub", "Life Drain", "Longsword", "Mace", "MorningStar", "Multi Attack",
            "Paralyzing Touch", "Psuedopod", "Quaterstaff", "Rake", "Ram", "Scimitar", "Shortsword", "Slam",
            "Spear", "Spiked Bone Club", "Sting", "Strength Drain", "Tail", "Tentacles", "Touch", "Tusk",
            "War Pick", "Warhammer", "Withering Touch"
            })
                {
                    <option value="@action">@action</option>
                }
            </select>
            <input type="submit" value="Sort" />
        </p>
    }
    @using (Html.BeginForm("SearchMonstersMeta", "Monsters", FormMethod.Post))
    {
        <p>
            Alignment:
            <select name="meta">
                <option value="--">Alignment</option>
                @foreach (var meta in new List<string>
            {
            "Lawful Good", "Neutral Good", "Chaotic Good", "Lawful Neutral", "Neutral", "Chaotic Neutral", "Lawful Evil", "Neutral Evil", "Chaotic Evil", "Unaligned"
            })
                {
                    <option value="@meta">@meta</option>
                }
            </select>
            <input type="submit" value="Sort" />
        </p>
    }
</div>


<h1 style ="color:darkgoldenrod">Monster List</h1>


<table class="custom-table">
    <thead>
        <tr>
            <th>MonsterID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var monster in Model)
        {
            <tr>
                <td style="color: rgb(242, 141, 107);">@monster.MonsterId</td>
                <td><img src="@monster.img_url" alt="@monster.Name" class="monster-image" /></td>
                <td style="color: rgb(242, 141, 107);">@monster.Name</td>
                <td><a href="/Monsters/IndividualView?MonsterId=@monster.MonsterId" class="details-link" style="color: blue;">View Details</a></td>
            </tr>
        }
    </tbody>
</table>