@model Monsters

<style>
    body {
        background-color: black;
        color: red;
    }
</style>
@using (Html.BeginForm("Search", "Monsters", FormMethod.Get))
{
    <p>
        Find by Name: @Html.TextBox("searchStringName")
        <input type="submit" value="Search" />
    </p>


}
@using (Html.BeginForm("SearchMonstersTraits", "Monsters", FormMethod.Get))
{
    <p>
        Find by Trait: @Html.TextBox("trait")
        <input type="submit" value="Search" />
    </p>

}
@using (Html.BeginForm("SearchMonstersMetaSize", "Monsters", "Post"))
{
    <p>
        Sort by Size:
        <select name="size">
            <option value="Tiny">Tiny</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
            <option value="Huge">Huge</option>
            <option value="Gargantuan">Gargantuan</option>
        </select>
        <input type="submit" value="Sort" />
    </p>
}
@using (Html.BeginForm("SearchMonstersLanguages", "Monsters", "Post"))
{
    <p>
        Sort by Language:
        <select name="language">
            <option value="--">No Language</option>
            <option value="Abyssal">Abyssal</option>
            <option value="Aquan">Aquan</option>
            <option value="Auran">Auran</option>
            <option value="Blink Dog">Blink Dog</option>
            <option value="Celestial">Celestial</option>
            <option value="Common">Common</option>
            <option value="creator">Creator</option>
            <option value="Deep Speech">Deep Speech</option>
            <option value="Draconic">Draconic</option>
            <option value="Elvish">Elvish</option>
            <option value="Giant">Giant</option>
            <option value="Ignan">Ignan</option>
            <option value="Infernal">Infernal</option>
            <option value="Sphinx">Sphinx</option>
            <option value="Telepathy">Telepathy</option>
            <option value="Thieves">Thieves</option>
            <option value="Undercommon">Undercommon</option>
        </select>
        <input type="submit" value="Sort" />
    </p>
}

<div id="monsterBox" class="flex-container">
    <div id="monster-image">
        <img src="@Model.img_url" />
    </div>

    <div id="monster-info">
        <h2>@Model.Name</h2>
        <p>@Model.Meta</p>

        <div id="flex-container">
            <div id="column">
                <div id="attributes">
                    <h3>Attributes</h3>
                    <p>Armor Class: @Model.ArmorClass</p>
                    <p>Hit Points: @Model.HitPoints</p>
                    <p>Speed: @Model.Speed</p>
                </div>
            </div>

            <div id="column">
                <div id="abilities">
                    <h3>Abilities</h3>
                    <div class="ability-column">
                        <p>STR: @Model.STR (@Model.STR_mod)</p>
                        <p>DEX: @Model.DEX (@Model.DEX_mod)</p>
                    </div>
                    <div class="ability-column">
                        <p>CON: @Model.CON (@Model.CON_mod)</p>
                        <p>INT: @Model.INT (@Model.INT_mod)</p>
                    </div>
                    <div class="ability-column">
                        <p>WIS: @Model.WIS (@Model.WIS_mod)</p>
                        <p>CHA: @Model.CHA (@Model.CHA_mod)</p>
                    </div>
                </div>
            </div>

            <div id="column">
                <div class="other-details">
                    <h3>Other Details</h3>
                    <p><strong>Saving Throws:</strong> @Model.SavingThrows</p>
                    <p><strong>Skills:</strong> @Model.Skills</p>
                    <p><strong>Senses:</strong> @Model.Senses</p>
                    <p><strong>Languages:</strong> @Model.Languages</p>
                    <p><strong>Challenge:</strong> @Model.Challenge</p>
                </div>
            </div>
        </div>
                <div id="traits">
                    <h3>Traits</h3>
                    <p>@Model.Traits</p>
                </div>
            </div>

            <div id="column">
                @if (!string.IsNullOrEmpty(Model.Actions))
                {
                    <div class="actions">
                        <h3>Actions</h3>
                        <p>@Model.Actions</p>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.LegendaryActions))
                {
                    <div class="legendary-actions">
                        <h3>Legendary Actions</h3>
                        <p>@Model.LegendaryActions</p>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.DamageImmunities))
                {
                    <div class="damage-immunities">
                        <h3>Damage Immunities</h3>
                        <p>@Model.DamageImmunities</p>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.ConditionImmunities))
                {
                    <div class="condition-immunities">
                        <h3>Condition Immunities</h3>
                        <p>@Model.ConditionImmunities</p>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.DamageResistances))
                {
                    <div class="damage-resistances">
                        <h3>Damage Resistances</h3>
                        <p>@Model.DamageResistances</p>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.DamageVulnerabilities))
                {
                    <div class="damage-vulnerabilities">
                        <h3>Damage Vulnerabilities</h3>
                        <p>@Model.DamageVulnerabilities</p>
                    </div>
                }
            </div>
        </div>
  