model IEnumerable<Monsters>

    @using (Html.BeginForm("Search", "Monsters", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("searchStringName")
            <input type="submit" value="Search" />
        </p>
    }
   

        @foreach (var monster in Model)
{
    <div class="monster-box">
        <h3>@monster.Name</h3>
        <p>@monster.Type</p>

        <h4>Armor Class</h4>
        <p>@monster.ArmorClass</p>

        <h4>Hit Points</h4>
        <p>@monster.HitPoints</p>

        <h4>Speed</h4>
        <p>@monster.Speed</p>

        <h4>STR</h4>
        <p>@monster.Strength (@monster.StrengthModifier)</p>

        <h4>DEX</h4>
        <p>@monster.Dexterity (@monster.DexterityModifier)</p>

        <h4>CON</h4>
        <p>@monster.Constitution (@monster.ConstitutionModifier)</p>

        <h4>INT</h4>
        <p>@monster.Intelligence (@monster.IntelligenceModifier)</p>

        <h4>WIS</h4>
        <p>@monster.Wisdom (@monster.WisdomModifier)</p>

        <h4>CHA</h4>
        <p>@monster.Charisma (@monster.CharismaModifier)</p>

        <h4>Skills</h4>
        <p>@monster.Skills</p>

        <h4>Damage Immunities</h4>
        <p>@monster.DamageImmunities</p>

      

        <h4>Actions</h4>
        <p>@Html.Raw(monster.Actions)</p> 
    </div>


  }