@model IEnumerable<Monsters>

<style>
    body {
        background-color: rgb(32,32,32);
       
        background-image: none;
    }
</style>

<div class="search-bar">


    @using (Html.BeginForm("SearchMonstersTraits", "Monsters", FormMethod.Get))
    {
        <p>
            Search Traits: @Html.TextBox("trait")
            <input type="submit" value="Search" />
        </p>
    }

    @using (Html.BeginForm("SearchMonstersMetaSize", "Monsters", FormMethod.Post))
    {
        <p>
            Size:
            <select name="size">
                <option value="Tiny">Tiny</option>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
                <option value="Huge">Huge</option>
                <option value="Gargantuan">Gargantuan</option>
            </select>
            <input type="submit" value="Sort" />
        </p>
    }

    @using (Html.BeginForm("SearchMonstersLanguages", "Monsters", FormMethod.Post))
    {
        <p>
            Language:
            <select name="language">
                <option value="--">No Language</option>
                <option value="Abyssal">Abyssal</option>
                <option value="Aquan">Aquan</option>
                <option value="Auran">Auran</option>
                <option value="Blink Dog">Blink Dog</option>
                <option value="Celestial">Celestial</option>
                <option value="Common">Common</option>
                <option value="creator">Creator</option>
                <option value="Deep Speech">Deep Speech</option>
                <option value="Draconic">Draconic</option>
                <option value="Elvish">Elvish</option>
                <option value="Giant">Giant</option>
                <option value="Ignan">Ignan</option>
                <option value="Infernal">Infernal</option>
                <option value="Sphinx">Sphinx</option>
                <option value="Telepathy">Telepathy</option>
                <option value="Thieves">Thieves</option>
                <option value="Undercommon">Undercommon</option>
            </select>
            <input type="submit" value="Sort" />
        </p>
    }

    @using (Html.BeginForm("SearchMonstersActions", "Monsters", FormMethod.Post))
    {
        <p>
            Action:
            <select name="action">
                <option value="--">No Action</option>
                @foreach (var action in new List<string>
            {
            "Beak", "Bite", "Claw", "Club", "Corrupting Touch", "Crush", "Dagger", "Enlarge", "Fist", "Gore",
            "Greataxe", "Greatclub", "Life Drain", "Longsword", "Mace", "MorningStar", "Multi Attack",
            "Paralyzing Touch", "Psuedopod", "Quaterstaff", "Rake", "Ram", "Scimitar", "Shortsword", "Slam",
            "Spear", "Spiked Bone Club", "Sting", "Strength Drain", "Tail", "Tentacles", "Touch", "Tusk",
            "War Pick", "Warhammer", "Withering Touch"
            })
                {
                    <option value="@action">@action</option>
                }
            </select>
            <input type="submit" value="Sort" />
        </p>
    }
</div>


<h1 style="color:darkgoldenrod">Monster List</h1>


<table class="table custom-table">
    <thead>
        <tr>
            <th>MonsterID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var monster in Model)
        {
            <tr>
                <td style="color: rgb(242, 141, 107);">@monster.MonsterId</td>
                <td><img src="@monster.img_url" alt="@monster.Name" class="monster-image" /></td>
                <td style="color: rgb(242, 141, 107);">@monster.Name</td>
                <td><a href="/Monsters/IndividualView?MonsterId=@monster.MonsterId" class="details-link">View Details</a></td>
            </tr>
        }
    </tbody>
</table>